<div class="custom-box">
    <mat-card>Just you as creator of this event can see this view</mat-card>
    <br>
    <form [formGroup]="myForm" (ngSubmit)="updateEvent()" novalidate>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Name</mat-label>
            <input required matInput required minlength="4" autofocus formControlName="name"
                (change)="nameChanged($event.target.value)" placeholder="Event name">
            <mat-error *ngIf="errorHandling('name', 'required')">
                You must provide a <strong>name</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('name', 'minlength')">
                You must provide at least <strong>4 character</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput required formControlName="description"></textarea>
            <mat-error *ngIf="errorHandling('description', 'required')">
                You must provide a <strong>description</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-slide-toggle formControlName="fixDate" (change)="fixDateButtonPressed()">
            Fix Date
        </mat-slide-toggle>
        <br>
        <br>
        <mat-form-field style="width: 100%;">
            <mat-label>Date</mat-label>
            <!--<input type="datetime" matInput formControlName="date">-->
            <input [owlDateTime]="dt1" [min]="minDate" [selectMode]="'range'" [owlDateTimeTrigger]="dt1"
                placeholder="Date" matInput formControlName="date">
            <owl-date-time #dt1></owl-date-time>
            <mat-error *ngIf="errorHandling('date', 'required')">
                You must provide a <strong>date</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-slide-toggle formControlName="updateLink" (change)="updateInvitationLink()">
            Update invitation link (not recommended: your old link will not work anymore)
        </mat-slide-toggle>
        <br>
        <br>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Invitation Link</mat-label>
            <input matInput formControlName="link">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Update Event</button>
    </form>
</div>