<div>
    <app-top-bar title="Meet Together" subpage="true" [subpageName]="event.name" [start_date]="event.start_date"
        (triggerShowMenu)="toggleMenu($event)" [end_date]="event.end_date">
    </app-top-bar>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 200px;" class="my-sidenav"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="(isHandset$ | async) === false"
        [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <mat-list>
            <mat-list-item (click)="closeMenu($event)" [routerLink]="['./messages/']">
                <mat-icon fontSet="material-icons-two-tone">chat</mat-icon>&emsp;Messages
            </mat-list-item>
            <mat-list-item (click)="closeMenu($event)" [routerLink]="['./plan/']">
                <mat-icon fontSet="material-icons-two-tone">event</mat-icon>&emsp;Plan
            </mat-list-item>
            <mat-list-item (click)="closeMenu($event)" [routerLink]="['./details/']">
                <mat-icon fontSet="material-icons-two-tone">details</mat-icon>&emsp;Details
            </mat-list-item>
            <mat-list-item (click)="closeMenu($event)" [routerLink]="['./participants/']">
                <mat-icon fontSet="material-icons-two-tone">group</mat-icon>&emsp;Participants
            </mat-list-item>
            <mat-list-item (click)="closeMenu($event)" [routerLink]="['./invite/']">
                <mat-icon fontSet="material-icons-two-tone">email</mat-icon>&emsp;Invite
            </mat-list-item>
            <mat-list-item *ngIf="event.creator" (click)="closeMenu($event)" [routerLink]="['./edit/']">
                <mat-icon fontSet="material-icons-two-tone">create</mat-icon>&emsp;Edit
            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <!-- Main content "-->
    <mat-sidenav-content style="overflow-y: scroll;overflow-x: hidden;height: calc(100vh - 130px);">
        <div class="custom-box">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>