// Import theming functions
@import '~@angular/material/theming';

@mixin message-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .own-message {
        // Get the default hue for a palette.
        //color: mat-color($primary);

        // Get a specific hue for a palette.
        // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
        background-color: mat-color($primary, 200);

        // Get a relative color for a hue ('lighter' or 'darker')
        //outline-color: mat-color($accent, lighter);

        // Get a contrast color for a hue by adding `-contrast` to any other key.
        //border-color: mat-color($primary, '100-contrast');

      }

    .foreign-message {
      background-color: mat-color($accent, 200);
    }

    .generated-message {
      background-color: mat-color($warn, 200);
    }
  }
