<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon style="font-size: 36px;">
        perm_identity
    </mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item disabled>{{user.name}}</button>
    <button mat-menu-item (click)="renameUser()">Rename</button>
    <button mat-menu-item *ngIf="!user.registered" (click)="login()">Log in</button>
    <button mat-menu-item *ngIf="!user.registered" (click)="register()">Sign up</button>
    <button mat-menu-item *ngIf="user.registered" (click)="logout()">Logout</button>
</mat-menu>