<mat-card style="margin-bottom: 20px;">
    <h2>Share the following URL with your friends:</h2>
    <a [href]="accessUrl">{{accessUrl}}</a>
</mat-card>

<mat-card style="margin-bottom: 20px;">
    <h2>Or send an email:</h2>


    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-chip-list #chipList aria-label="recipient selection">
            <mat-chip *ngFor="let email of recipients" selectable="true" (removed)="remove(email)">
                {{email}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Recipients (email address)" #participantInput [formControl]="recipientsCtrl"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Subject</mat-label>
        <textarea matInput style="margin: 0 0; padding: 0 0;" cdkTextareaAutosize [(ngModel)]="subject"
            #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="3"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Content</mat-label>
        <textarea style="min-height: 20px !important;" matInput cdkTextareaAutosize [(ngModel)]="content"
            #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>

    <button *ngIf="recipients.length > 0" mat-raised-button color="primary" (click)="sendEmail()">Send Email</button>
    <button [ngStyle]="{'margin':recipients.length > 0 ? '10px 20px' : '0' }" mat-raised-button color="primary"
        #shareBtn>Share via phone
    </button>


</mat-card>