<app-top-bar title="Meet Together"></app-top-bar>

<mat-card [matBadge]="event.count_unread_messages" [matBadgeHidden]="event.count_unread_messages == 0"
    matBadgeSize="medium" matBadgePosition="after" matBadgeColor="accent" style="margin: 20px 20px;"
    *ngFor="let event of events | sortBy:'desc':'last_message_time';" [routerLink]="['/event/', event.id]">
    <h2>{{event.name}}</h2>
    <span *ngIf=" event.start_date!=null">
        Time:
        <span [innerHTML]="helperFunctions.printDate(event.start_date)"></span>
        <span *ngIf="event.end_date!=null">
            <span>&nbsp;-&nbsp;</span>
            <span [innerHTML]="helperFunctions.printEndDate(event.end_date, event.start_date)"></span>
        </span>
        <br>
    </span>
    {{event.description}}
</mat-card>

<div style="position:fixed; top:50%; left: 50%; transform: translate(-50%);" *ngIf="events.length==0">
    <app-add-event-button></app-add-event-button>
</div>
<div style="position:fixed; bottom: 1em; left: 50%; transform: translateX(-50%);" *ngIf="events.length>0">
    <app-add-event-button></app-add-event-button>
</div>
